In [ ]:
# VECTORES (Listas)

In [9]:
#a.
materias_cursadas = ["Principios de Sociologia", "Administracion de empresas", "Derecho I", "Administracion de personal I", "Estadistica aplicada I", "Estadistica aplicada II", "Computacion y Sistemas de informacion", "Ingles I", "Ingles II"]

for materias in materias_cursadas:
    print("Mis materias cursadas de RT: ", materias)

Mis materias cursadas de RT:  Principios de Sociologia
Mis materias cursadas de RT:  Administracion de empresas
Mis materias cursadas de RT:  Derecho I
Mis materias cursadas de RT:  Administracion de personal I
Mis materias cursadas de RT:  Estadistica aplicada I
Mis materias cursadas de RT:  Estadistica aplicada II
Mis materias cursadas de RT:  Computacion y Sistemas de informacion
Mis materias cursadas de RT:  Ingles I
Mis materias cursadas de RT:  Ingles II

In [ ]:
#1 suma

In [39]:
numeros = [13, 19, 33, 54]
print ("El total es", sum(numeros))

El total es 119

In [ ]:
#2 valor maximo

In [41]:
print("El valor maximo es", max(numeros))

El valor maximo es 54

In [ ]:
#3 promedio

In [43]:
print("El promedio es",sum(numeros)/len(numeros))

El promedio es 29.75

In [ ]:
# DICCIONARIOS

In [ ]:
#1. Registro de Estudiantes

In [139]:
Calificaciones = {
    "Nico": 6,
    "Indiana": 7.5,
    "Mauro": 4,
    "Yanina": 9,
   }

Calificaciones ["Mauro"]

4

In [ ]:
#2. Caracteristicas mias

In [149]:
Cinthia = {
    "Nombre": "Cinthia Eliana Baglioni",
    "Apodo": "Cina",
    "Edad": 35,
    "Hobbies": ["Yoga", "Correr", "hacer pizzas", "Pintar", "Bailar rock", "Pasear"],
    "Mascotas": ["mi perro boxer Duke"],  
}

In [150]:
Cinthia

{'Nombre': 'Cinthia Eliana Baglioni',
 'Apodo': 'Cina',
 'Edad': 35,
 'Hobbies': ['Yoga',
  'Correr',
  'hacer pizzas',
  'Pintar',
  'Bailar rock',
  'Pasear'],
 'Mascotas': ['mi perro boxer Duke']}

In [ ]:
#3. Contar elementos

In [173]:
Frutas = {
    "Banana": 8,
"Manzana": 15,
   "Melon": 2,
    "Durazno": 4,
}

In [174]:
CantidadTotal = sum(Frutas.values())

In [175]:
CantidadTotal

29

In [176]:
print ("Tengo", CantidadTotal, "frutas en mi bolsa")

Tengo 29 frutas en mi bolsa

In [172]:
# prueba for
for x in Frutas:
    print ("Compre: ", x)

Compre:  Banana
Compre:  Manzana
Compre:  Melon
Compre:  Durazno